
.font18px {
    font-size: 18px;
}

.boxSizingBorder {
    box-sizing: border-box;
}

.displayInlineBlock {
    display: inline-block;
}

.floatRight {
    float: right;
}

.pm0 {
    margin: 0px;
    padding: 0px;
}

.pa16px {
    padding: 16px;
}

.noBorder {
    border: 0px;
}

.border {
    border: 1px solid #20C20E;
}

.verticalAlignTop {
    vertical-align: top;
}

.textAlignRight {
    text-align: right;
}

.h38px {
    height: 38px;
}

.hMin40px {
    min-height: 40px;
}

.h40px {
    height: 40px;
}

.maxHeight {
    height: 100%;
}

.maxWidth {
    width: 100%;
}

.w5Width {
    width: 5%;
}

.w10Width {
    width: 10%;
}

.w15Width {
    width: 15%;
}

.w20Width {
    width: 20%;
}

.w30Width {
    width: 30%;
}

.w70Width {
    width: 70%;
}

.w80Width {
    width: 80%;
}

.w90Width {
    width: 90%;
}